body {
background-image: url("pictures/boulesloto2.jpg");
background-size: cover;
}

.container-grid {
display: grid;
grid-gap: 10px;
width: 400px;
height: 400px;
padding: 10px;
border: 2px solid rgb(19, 3, 87);
background-color: rgb(54, 101, 202);
grid-template-columns: repeat(5, 1fr);
grid-template-rows: repeat(5, 1fr);
}
    
.ccase-class {
padding: 5px 0px;
background-color: rgb(226, 228, 195);
border: 1px solid black;
border-radius: 50%;
}
    
.ccaseNumber-class {
display: flex;
justify-content: center;
align-items: center;
font-size: 20px;
color: black;
}

h1 {
text-align: center;
font-size: 50px;
}
  
h1, h2 {
color: black;
}

#resultat {
color: black;
font-size: 25px;
}

footer{
display: flex;
justify-content: center;
background: black;
position:absolute;
left:0;
bottom:0;
width:100%;
padding-top:15px;
height:50px;
color: white;
text-align: center;
align-items: center;
}

.selection {
width: 400px;
height: 400px;
padding: 10px;
border: 2px solid rgb(19, 3, 87);
background-color: rgb(54, 101, 202); 
}

.tableauGains {
width: 400px;
height: 400px;
padding: 10px;
border: 2px solid rgb(19, 3, 87);
background-color: rgb(54, 101, 202);   
}

.tableaux {
display: flex;
justify-content: space-around;
}

#tableau table,
th,td {
padding: 14px;
border: 1px solid black;
border-collapse: collapse;
font-size: 15px;
text-align: center;
}

.centrer {
margin-left: auto;
margin-right: auto;
}

#section {
display: flex;
justify-content: space-between;  
}

#section1 {
border: 2px solid rgb(19, 3, 87); 
}

#section2, #section3 {
border: 2px solid rgb(19, 3, 87);
height: 100px;
width: 200px;
}