body {
  background-color: rgb(17, 45, 71);
}

.container-grid {
display: grid;
grid-gap: 10px;
width: 500px;
height: 500px;
padding: 10px;
border: 2px solid rgb(19, 3, 87);
background-color: rgb(94, 166, 194);
grid-template-columns: repeat(5, 1fr);
grid-template-rows: repeat(5, 1fr);
}



.ccase-class {
  padding: 10px 0px;
  background-color: rgb(226, 228, 195);
  border: 1px solid black;
  border-radius: 50%;
}

.ccaseNumber-class {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 20px;
  color: black;
}

h1, h2 {
  color: white;
}

#resultat {
  color: white;
  font-size: 25px;
}