body {
  background-color: rgb(188, 193, 238);
}

.container-grid {
display: grid;
grid-gap: 10px;
width: 500px;
height: 500px;
padding: 10px;
border: 2px solid rgb(140, 0, 255);
background-color: rgb(157, 116, 177);
grid-template-columns: repeat(5, 1fr);
grid-template-rows: repeat(5, 1fr);
}



.ccase-class {
  padding: 10px 0px;
  background-color: rgb(223, 231, 103);
  border: 1px solid black;
}

.ccaseNumber-class {
  text-align: center;
  font-size: 10px;
  color: black;
}